---
layout: default
---

<article class="blog-post-page fa-page" dir="rtl" lang="fa">

  <header class="blog-post-header">

    <p class="blog-date">
      {{ page.date | date: "%Y/%m/%d" }}
    </p>

    <h1>{{ page.title }}</h1>

    {% if page.first_published %}
      <p class="first-publication">
        نخستین انتشار:
        {{ page.first_published }}
        {% if page.first_published_platform %}
          · {{ page.first_published_platform }}
        {% endif %}
      </p>
    {% endif %}

  </header>


  <div class="blog-post-body">

    {% if page.image %}

      <figure class="blog-post-figure">

        <img
          src="{{ page.image | relative_url }}"
          alt="{{ page.image_caption | default: page.title | escape }}">

        {% if page.image_caption %}
          <figcaption>
            {{ page.image_caption }}
          </figcaption>
        {% endif %}

      </figure>

    {% endif %}


    {{ content }}

  </div>


  <div class="blog-post-back">

    <a href="{{ '/fa/blog/' | relative_url }}">
      بازگشت به وبلاگ ←
    </a>

  </div>

</article>
