---
layout: default
---

<article class="blog-post-page fa-page" dir="rtl" lang="fa">

  <p class="blog-date">
    {{ page.date | date: "%Y/%m/%d" }}
  </p>

  {% if page.tags %}
  <p class="interest-tags">
    {% for tag in page.tags %}
      <span>{{ tag }}</span>
    {% endfor %}
  </p>
  {% endif %}

  <h1 style="margin-top:0; margin-bottom:25px;">
    {{ page.title }}
  </h1>

  <div class="blog-post-body">
    {{ content }}
  </div>

  <hr style="
    margin:50px 0 25px;
    border:0;
    border-top:1px solid #eeeeee;
  ">

  <p>
    <a href="{{ '/fa/interests/' | relative_url }}">
      بازگشت به علاقه‌مندی‌ها ←
    </a>
  </p>

</article>
